.body {
  background-color: white;
  margin: 0;
  line-height: 1.6em;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-size: 1rem;
  color: white;
  height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/*galeria imagenes*/
#efectito {
  filter: grayscale(100%);
  transition: 0.3s; }

#efectito:hover {
  filter: grayscale(0%); }

.centrarimg {
  display: block;
  margin: auto; }

/*GALERIA VIDEO VIDEO*/
.galeria-video {
  padding: 0.5rem;
  display: block;
  justify-content: center;
  text-align: center; }
  .galeria-video button {
    background-color: #686868;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 3px;
    font-family: sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  .galeria-video button:hover {
    background: orange;
    box-shadow: 0 0 10px orange, 0 0 40px orange, 0 0 80px, orange;
    color: white; }

.centrarvideo {
  padding: 20px;
  text-align: center; }

/*body solo de contacto*/
.bodyContacto {
  background-image: url(../images/pic.jpg);
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  line-height: 1.6em;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
  color: white;
  height: 100vh;
  font-size: 1rem;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/* BOTON hamburguesa*/
.lbl-menu {
  width: 50px;
  height: 30px;
  position: relative;
  cursor: pointer; }

.lbl-menu #spn1, #spn2, #spn3 {
  position: absolute;
  content: '';
  background: #969696;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  transition: all 400ms ease; }

#spn2 {
  top: 11px; }

#spn3 {
  top: 22px; }

#btn-menu {
  display: none; }

#btn-menu:checked ~ .lbl-menu #spn1 {
  transform: rotate(140deg);
  top: 10px; }

#btn-menu:checked ~ .lbl-menu #spn2 {
  opacity: 0; }

#btn-menu:checked ~ .lbl-menu #spn3 {
  transform: rotate(-140deg);
  top: 10px; }

/*tituloa y parrafos*/
h1 {
  font-size: 2rem;
  line-height: 1.3em;
  color: white;
  text-align: center;
  padding: 18px;
  font-family: "Roboto";
  font-weight: lighter 900;
  background: url(../images/fondobienvenida.png); }

p {
  font-size: 1em;
  margin-bottom: 1.6em;
  color: white;
  line-height: 1.3em;
  text-align: center;
  font-family: "Roboto";
  font-weight: 100; }

/*HEADER - MENU - LOGO*/
.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto; }

.header {
  background: white;
  color: black;
  padding: 2rem 0;
  /*fijo*/
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  text-decoration: none; }

.header a {
  color: black;
  text-decoration: none; }

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.logo {
  font-size: 1.5em; }

.menu-icon {
  display: none; }

.navegacion ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.navegacion ul li {
  display: inline-block; }

.navegacion ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  text-decoration: none; }

.navegacion ul li a:hover {
  background: rgba(210, 105, 30, 0.823);
  color: white; }

/*INICIO MENU HEADER RESPONSIVE*/
@media only screen and (max-width: 577px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 00.5rem 1rem; }
  .navegacion {
    width: 100%;
    margin-top: 1rem; }
  .navegacion ul {
    display: none; }
  .navegacion ul.show {
    display: block; }
  .navegacion ul li {
    display: block; }
  .navegacion ul li a {
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    border-radius: 5px; }
  .navegacion ul li a:hover {
    background: chocolate; } }

/*RESPONSIVE logo*/
/*desktop*/
@media (min-width: 992px) {
  .logoHeader {
    display: inline;
    align-items: center;
    justify-content: center;
    height: 3em; } }

/*tablet*/
@media (min-width: 577px) and (max-width: 991px) {
  .logoHeader {
    display: inline;
    align-items: center;
    justify-content: center;
    height: 3em; } }

/*mobile*/
@media (max-width: 576px) {
  .logoHeader {
    display: inline;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    padding-left: 10px; } }

/*FIN menu header responsive*/
/* INICIO IMAGEN FIJA INICIO*/
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center; }

.imagen-inicio {
  height: 70%;
  width: 100%; }

.centrado {
  position: absolute;
  line-height: 1em;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  font-family: fantasy;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  animation-name: fx;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.42, 0.3, 0.64, 0.42);
  animation-duration: 5s;
  animation-delay: 0;
  color: #f7851b;
  display: flex;
  justify-content: center; }

/* responsive imagen inicio*/
/*consulta smartphone*/
@media (max-width: 480px) {
  .centrado {
    font-size: 2rem; }
  .imagen-inicio {
    height: 70%;
    width: 100%; } }

/*ANIMACION DE TEXTO CON COLORES*/
.key {
  animation-name: fx;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.42, 0.3, 0.64, 0.42);
  animation-duration: 8s;
  animation-delay: 0;
  color: white;
  display: flex; }

/*linea de tiempo*/
@keyframes fx {
  0% { }
  50% {
    background-color: rgba(153, 54, 0, 0); }
  100% {
    background-color: rgba(143, 56, 9, 0);
    color: #7b7b7b; } }

.textos {
  color: seashell; }

/* FIN IMAGEN FIJA INICIO*/
/*TEXTO SIMPLE DE PARRAFOS Y TITULO DE SERVICIOS*/
.textos {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 1em;
  padding: 1% 10%;
  text-align: center; }

h3 {
  font-size: 3em;
  color: #f87a19;
  text-align: center;
  padding-bottom: 5%; }

/*SERVICIOS*/
.galeria-1 {
  width: 50%;
  color: black;
  display: inline-block;
  text-align: center;
  text-align: center;
  border: solid 2px orange;
  margin-bottom: 12px; }

.galeria-2 {
  width: 100%;
  color: black;
  display: inline-block;
  text-align: center;
  text-align: center;
  border: solid 2px orange;
  margin-bottom: 12px; }

/*texto historia SOBRE*/
.textoNosotros {
  color: azure;
  font-family: 'Arial Narrow Bold', sans-serif;
  padding: 1em 1em 1em 1em;
  font-size: 1rem;
  word-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.364);
  align-content: center; }
  .textoNosotros p {
    font-size: 1em;
    text-align: center; }
  .textoNosotros ul li {
    text-decoration: none;
    list-style: none;
    display: block;
    align-items: center;
    align-content: center;
    text-align: center;
    color: grey;
    word-spacing: 5px; }

/* encabezado de integrantes en nosotros*/
.fondoTextoNosotros {
  background-image: url(../images/fondobienvenida.png);
  padding: 1% 5% 5% 5%; }
  .fondoTextoNosotros .textos {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 1.5em;
    padding: 1% 10%;
    text-align: left; }
  .fondoTextoNosotros h3 {
    font-size: 2em;
    color: #f87a19;
    text-align: center;
    padding-bottom: 5%; }

/*HOJA DE CONTACTO*/
form {
  width: 450px;
  margin: auto;
  background: rgba(14, 12, 12, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white; }

h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px; }

.inpute, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  background: white; }

label {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background-color: #ff7300;
  color: white;
  padding: 2px;
  margin-top: 10px;
  width: 100%; }

#boton:hover {
  cursor: pointer; }

.listaServicios {
  background-color: rgba(255, 145, 36, 0.712);
  color: white;
  text-decoration: none; }
  .listaServicios select, .listaServicios option {
    background-color: #ff9124; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

/*FOOOTER COMPLETO*/
footer {
  position: absolute;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
  color: white;
  background-color: #121212; }

.copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
  color: orange; }

.footer-menus {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 30%; }

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 2rem 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.footer-info, .menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  justify-content: center; }

.menu-item-footer:hover {
  opacity: 1;
  color: #e97b14; }

.menu-title {
  font-size: var(--medium-text-font);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  color: white; }

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%; }

.social-link {
  height: 100%;
  width: 30px;
  background-image: url(../images/logos/FacebookBlanco.png);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat; }

.social-link:hover {
  opacity: 0.5; }

footer .social-link:nth-of-type(2) {
  background-image: url(../images/logos/InstagramBlanco.png); }

footer .social-link:nth-of-type(3) {
  /*Nth of type inside that container*/
  background-image: url(../images/logos/LinkedinBlanco.png); }

footer .social-link:nth-of-type(4) {
  /*Nth of type inside that container*/
  background-image: url(../images/logos/BehanceBlanco.png); }

/*MEDIA QUERY FOOTER*/
@media (max-width: 768px) {
  .footer-container {
    padding: 2rem;
    flex-direction: column; }
  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2A2A2A;
    justify-content: center;
    align-items: center; }
  .footer-content-container:nth-of-type(1) {
    align-items: flex-start; }
  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0; }
  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2A2A2A; }
  .footer-menus .footer-content-container:nth-of-type(1) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none; }
  .footer-menus .footer-content-container:nth-of-type(2) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none; } }

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  border: solid 2px black; }

/*FIN FOOTER*/
/*mobile*/
@media (max-width: 576px) {
  .fondoTextoNosotros {
    background-image: url(../images/fondobienvenida.png);
    padding: 1% 2% 2% 2%; }
    .fondoTextoNosotros .textos {
      font-family: "Roboto";
      font-weight: 100;
      font-size: 0.8em;
      padding: 1% 10%;
      text-align: left; }
    .fondoTextoNosotros h3 {
      font-size: 2em;
      color: #f87a19;
      text-align: center;
      padding-bottom: 5%; } }

/*tablet*/
/*desktop*/
